<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user-story main page</title>
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static' , filename='story_style.css') }}" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <div class="logo"><span style="color: #1587c9">SUPER</span>SPRINTER 3000</div>
        </div>

        <div class="blank_lane"></div>

        <div class="actions">
            <form action="/story" method="GET">
                <input type="submit" value="Add new user story">
            </form>
        </div>

        <div class="blank_lane_2"></div>

        <div class="content">
            <form action="/story" method="POST">
                <h2>Story title:</h2>
                    <input type="text" name="user_story_info" min="5" value="Add title..." required="True">

                <h2>Acceptance Criteria:</h2>
                    <textarea name="user_story_info" required="True" wrap="soft">Add acceptance criteria...</textarea>

                <h2>Business Value:</h2>
                    <input type="text" name="user_story_info">

                <h2>Estimation Time:</h2>
                    <input type="number" name="user_story_info">

                <h2>Status:</h2>
                    <select name="user_story_info">
                        <option value="To do">To do</option>
                        <option value="In progress">In progress</option>
                        <option value="Done">Done</option>
                    </select>
                <br>
                <br>
                <input type="submit" value="Update user story">
            </form>


        </div>
    </div>
    <br>
    <br>

    <div class="footer"> &copy; Copyright 2019 by MONGOL </div>


</body>
</html>