<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

    <form action="/story/{{ story_id }}" method="POST">
        <h2>Story title:</h2>
        <input type="text" name="user_story_info" min="5" value="{{ selected_story['storytitle'] }}" required="True">

        <h2>Acceptance Criteria:</h2>
        <textarea name="user_story_info" required="True" wrap="soft">{{ selected_story['acceptancecriteria'] }}</textarea>

        <h2>Business Value:</h2>
        <input type="text" name="user_story_info" value="{{ selected_story['businessvalue'] }}">

        <h2>Estimation Time:</h2>
        <input type="number" name="user_story_info" value="{{ selected_story['estimationtime'] }}">

        <h2>Status:</h2>
        <select name="user_story_info">
            <option value="To do">To do</option>
            <option value="In progress">In progress</option>
            <option value="Done">Done</option>
        </select>
        <br>
        <br>
        <input type="submit" value="Update user story">
    </form>


</body>

</html>